<?xml version="1.0" ?>

<launch>

    <arg name="veh" default="husky1" />
    <!-- run pointcloud_to_laserscan node -->
    <node ns="$(arg veh)" pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">

        <remap from="cloud_in" to="sensors/lidars/velodyne/points" />
        <remap from="scan" to="RL/scan" />
        <param name="target_frame" value="$(arg veh)"/>
        <rosparam>
            min_height: -1
            max_height: 1

            transform_tolerance: 0.01
            

            angle_min: -2.094395
            angle_max: 2.094395
            angle_increment: 0.017453
            scan_time: 0.1
            range_min: 0
            range_max: 100.0
            use_inf: False

            # Concurrency level, affects number of pointclouds queued for processing and number of threads used
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 0
        </rosparam>

    </node>
</launch>